.title-slide-custom .remark-slide-number {
    display: none;
}

.remark-slide-content h1 {
    font-size: 2em;
    margin-top: 0;
}


p, li {
    font-family: Lato, sans-serif;
}

.remark-slide-content {
  font-size: 1em;  
}

.remark-code {
    font-size: 1em;
}

pre {
    margin-left: 20px;
    margin-right: 20px;
}
